<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sürücü_Kursu_Otomasyonu.Properties.Settings.Sürücü_Kursu_OtomasyonuConnectionString"
            connectionString="Data Source=LAPTOP-GFUIOMKC\SQLEXPRESS;Initial Catalog=&quot;Sürücü Kursu Otomasyonu&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sürücü_Kursu_Otomasyonu.Properties.Settings.Sürücü_Kursu_OtomasyonuConnectionString1"
            connectionString="Data Source=LAPTOP-GFUIOMKC\SQLEXPRESS;Initial Catalog=Sürücü_Kursu_Otomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>